@using EntityLayer.Concrete
@model List<EducationStatus>
@{
    ViewBag.Title = "GetListEducationStatus";
    Layout = "~/Views/Shared/_JobLayout.cshtml";
}

<h2>Eğitim Durumu Sayfası</h2>
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Ad</th>
        <th>Durum</th>
        <th>Sil</th>
        <th>Güncelle</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.EducationStatusID</td>
            <td>@item.Name</td>
            <td>@item.Status</td>
            <td><a href="/EducationStatus/DeleteEducationStatus/@item.EducationStatusID" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="/EducationStatus/UpdateEducationStatus/@item.EducationStatusID" class="btn btn-outline-success">Güncelle</a></td>

        </tr>
    }
</table>

<a class="btn btn-outline-info" href="/EducationStatus/AddEducationStatus">Eğitim Durumu Ekle</a>

