@using EntityLayer.Concrete
@model List<City>
@{
    ViewBag.Title = "GetListCity";
    Layout = "~/Views/Shared/_JobLayout.cshtml";
}

<h2>Şehirler Sayfası</h2>
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Ad</th>
        <th>Durum</th>
        <th>Sil</th>
        <th>Güncelle</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CityID</td>
            <td>@item.Name</td>
            <td>@item.Status</td>
            <td><a href="/City/DeleteCity/@item.CityID" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="/City/UpdateCity/@item.CityID" class="btn btn-outline-success">Güncelle</a></td>

        </tr>
    }
</table>

<a class="btn btn-outline-info" href="/City/AddCity">Şehir Ekle</a>

