
@{
    ViewBag.Title = "Page404";
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_UserLayout</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container mt-2">
        <a class="btn btn-info btn-block" href="~/JobAdvertisement/GetListJobAdvertisement">Evine Dön!!</a>
        <hr />
        <img style="height:600px; width:1300px;" src="http://www.digitalmesh.com/blog/wp-content/uploads/2020/05/404-error.jpg" />
    </div>
</body>
</html>

